* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}
.container {
    width: 75%;
    margin: auto;
}
.clear-fix {
  clear: both;
}
section {
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  /* padding: 100px 0; */
}
section h2 {
  color: #333333;
  font-size: 40px;
  line-height: 30px;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 25px;
  position: relative;
}
.box {
  width: 100px;
  height: 10px;
  border-top: #FF305B 1px solid;
  border-bottom: #FF305B 1px solid;
  margin: auto;
  margin-bottom: 30px;
  position: relative;
}
.box::after {
  content: "____________________";
  /* width: 200px; */
  position: absolute;
  bottom: 1px;
  /* right: 6px; */
  left: -35px;
  color: #FF305B;
  margin: auto;
}

/* Start of navbar */
nav {
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
    /* width: 100%; */
    z-index: 99;
}
.nav-logo a {
    color: #FF305B;
    font-size: 24px;
    font-weight: 800;
    padding: 18px 0;
    float: left;
}
.nav-content {
    float: right;
}
.nav-content a {
    font-weight: 300;
    color: #FFFFFF;
    line-height: 20px;
    letter-spacing: 0.5px;
    transition: all 0.5s;
}
.nav-content li {
    float: left;
    padding: 20px 10px 0;
}
.nav-content a:hover {
    color: #FF305B;
}
/* End of navbar */

/* Start of header */
header {
    min-height: 100vh;
    text-align: center;
    background:  linear-gradient(rgba(0, 0, 0, 0.804) 0% 100%),url('./../images/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-content {
    margin: auto;
    line-height: 80px;
    color: aliceblue;
    padding-top: 25%;
    font-size: 25px;
}
h1 {
    color: #FF305B;
    font-size: 70px;
    line-height: 77px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
}
.header-content h3 {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 26.4px;
    font-weight: 600;
}
.header-content h4 {
    color: #FFFFFF;
    font-size: 26px;
    line-height: 31.2px;
    font-weight: 300;
    text-transform: capitalize;
}
/* .header-content h4::after {
    content: "";
    animation: textTransition 4s infinite ease-in-out;
    border-right: #FF305B solid;
}
@keyframes textTransition {
    0% {
      content: "De";
    }
    4% {
      content: "Des";
    }
    8% {
      content: "Desi";
    }
    12% {
      content: "Desig";
    }
    16% {
      content: "Design";
    }
    20% {
      content: "Designe";
    }
    24% {
      content: "Designer";
    }
    28% {
      content: "Designe";
    }
    32% {
      content: "Design";
    }
    36% {
      content: "Desig";
    }
    40% {
      content: "Desi";
    }
    44% {
      content: "Des";
    }
    48% {
      content: "De";
    }
    52% {
      content: "Dev";
    }
    56% {
      content: "Deve";
    }
    60% {
      content: "Devel";
    }
    64% {
      content: "Develo";
    }
    68% {
      content: "Develop";
    }
    72% {
      content: "Develope";
    }
    76% {
      content: "Developer";
    }
    80% {
      content: "Develope";
    }
    84% {
      content: "Develop";
    }
    88% {
      content: "Develo";
    }
    92% {
      content: "Devel";
    }
    96% {
      content: "Deve";
    }
    100% {
      content: "Dev";
    }
} */
/* End of header */

/* Start of About */ 
#About {
  padding: 100px 0px 125px;
}
.about-box {
  border-radius: 5px;
  box-shadow: 0 0 0 8px #555555 inset;
  float: left;
  margin-left: 50px;
}
.about-box img {
  width: 100%;
}
.porfile-photo {
  position: relative;
  transform: translateY(24px) translateX(24px);
}
.porfile-overly {
  background: rgba(0, 0, 0, 0.57);
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.5s ease;
}
.porfile-photo:hover .porfile-overly {
  top: 0; 
  opacity: 1;
}
.social-icon {
  position: absolute;
  left: 20%;
  top: 50%;
  opacity: 0; 
}
.porfile-photo:hover .social-icon {
  opacity: 1; 
}
.social-icon i:hover {
  color: #FF305B;
}
.about-box .social-icon li {
  display: inline-block;
}
.about-box .social-icon li a {
  letter-spacing: 10px;
  font-size: 20px;
  color: #fff;
  transition: all 5s ease-in-out;
}
.about-box .social-icon li a i {
  transition: all 0.5s ease-in-out;
}
.about-content {
  float: right;
  width: 50%;
}
.about-content h2 {
  color: #333333;
  font-size: 34px;
  line-height: 22px;
  font-weight: 600;
  padding-left: 13px;
  margin-bottom: 20px;
}
.about-content h2::before {
  content: "I";
  color: #FF305B;
  padding-right: 15px;
}
.about-content {
  color: #555555;
}
.about-content p {
  padding-bottom: 25px;
  border-bottom: #555555 dashed 1px;
}
.about-content span {
  color: #333333;
  line-height: 16px;
  font-weight: 600;
}
.about-content li {
  float: left;
  padding: 15px 0 5px 0;
}
.about-buttons {
  margin: 0 10px 0 0;
  padding: 10px 24px 0 0;
}
.about-buttons a {
  display: inline-block;
  background-color: #FF305B;
  color: white;
  border-radius: 5%;
  margin-top: 10px;
  padding: 10px 24px;
  transition: all 5s ease-in-out;
}
.about-buttons a:hover {
  background: linear-gradient(#f61845 0% 0%);
}
/* End of About */

/* Start of Services */
#Services {
  color: #555555;
  background-color: #F1F1F1;
  padding: 100px 0px 54px;
  text-align: center;
}
.single-service {
  color: #555555;
  padding: 40px 15px;
  float: left;
  width: 25%;
  transition: all 0.5s;
}
.single-service:hover {
  background-color:#fff;
  color: #000000;
  box-shadow: 3px 8px 8px 5px #88888870;
}
.single-service:hover i {
  font-size: 40px;
}
.single-service i {
  font-size: 36px;
  transition: all 3s ease-in-out;
  line-height: 16px;
  color: #FF305B;
  margin-bottom: 25px;
}
.single-service h3 {
  font-size: 24px;
  line-height: 26.4px;
  font-weight: 600;
  margin-bottom: 15px;
}
/* End of Services */

/* Start of Portfoilo */
#Portfoilo {
  padding: 100px 0px 70px;
  text-align: center;
}
.portfolio-buttons {
  margin-bottom: 50px;
}
.portfolio-buttons button {
  background-color: #fff;
  padding: 3px 12px;
  border: none;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}
.portfolio-buttons button:hover {
  color: #FF305B;
}
.active {
  color: #FF305B;
}
.protfolio-cards {
  padding: 0 15px 10px;
}
.card {
  float: left;
  width: 33.333%;
  position: relative;
}
.card img {
  width: 100%;
}
.layer{
  background: rgba(0, 0, 0, 0.57);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.5s ease;
}
.layer i {
  color: #FF305B;
  font-size: 25px;
  opacity: 0;
  position: absolute;
  bottom: 10%;
  right: 10%;
}
.card:hover .layer{
  opacity: 1;
}
.card:hover i{
  opacity: 1;
}
/* End of Portfolio */

/* Start of Numbers */
.numbers {
  background-color: #F1F1F1;
  padding: 100px 0;
  text-align: center;
}
.num {
  width: 25%;
  float: left;
}
.num i {
  color: #FF305B;
  font-size: 26px;
  line-height: 26px;
  margin-bottom: 15px;
}
.num h3 {
  font-size: 26px;
  line-height: 28.6px;
  margin-bottom: 10px;
  font-weight: 800;
}
.num p {
  color: #555555;
  font-size: 16px;
  line-height: 17.6px;
  font-weight: 600;
}
/* End of Numbers */

/* Start of Feedback */
#Testimonial {
  padding: 100px 0;
  overflow: hidden;
}
#Testimonial h2 {
  margin-bottom: 40px;
  text-align: center;
}
.Feedback {
  width: 65%;
  background-color: #F1F1F1;
  margin: auto;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
  padding: 40px;
  overflow: hidden;
  border-radius: 1%;
}
.Feedback-image {
  width: 20%;
  float: left;
  margin: 12px auto;
  position: relative;
}
.Feedback-image::before {
  content: "";
  background-color: #ff305b;
  height: 350px;
  width: 350px;
  position: absolute;
  right: 20px;
  bottom: 50px;
  transform: rotate(50deg);
  z-index: 0;
}
.Feedback-image img {
  width: 70%;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}
.Feedback-content {
  float: left;
  width: 80%;
}
.Feedback-content h3 {
  color: #333333;
  font-size: 26px;
  line-height: 28.6px;
  margin-bottom: 10px;
  font-weight: 600;
}
.Feedback-content a {
  color: #777;
  font-size: 15px;
  line-height: 16.5px;
  font-weight: 600;
}
.Feedback-content p {
  color: #555555;
  margin-bottom: 15px;
  font-style: italic;
}
.stars i {
  color: gold;
}
.dots {
  margin: auto;
  width: 70px;
  padding-top: 15px;
}
.dot {
  background-color: #FF305B;
  width: 25px;
  height: 10px;
  border-radius: 25%;
  float: left;
  margin-inline: 5px;
}
.half-dot {
  border: solid 1px #FF305B;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  float: left;
}
/* End of Feedback */

/* Start of Our Blog */
#Blog {
  background-color: #F1F1F1;
  padding: 100px 0 70px;
}
#Blog h2 {
  text-align: center;
}
.youtube {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.blog {
  width: 33.333%;
  background-color: #fff;
  float: left;
}
.blog img {
  width: 100%;
}
.blog-content {
  padding: 20px;
}
.blog p {
  color: #555555;
}
.blog a {
  color: #333333;
  transition: all 0.5s ease-in-out;
}
.blog-anchor {
  font-size: 24px;
  line-height: 26.4px;
  font-weight: 600;
}
.blog a:hover{
  color: #FF305B;
}
/* End of Our Blog */