* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}
.container {
    width: 75%;
    margin: auto;
}
.clear-fix {
  clear: both;
}
section {
  padding: 100px 0;
}

/* Start of navbar */
nav {
    background-color: transparent;
    position: fixed;
    left: 0;
    right: 0;
    /* width: 100%; */
    /* z-index: 99; */
}
.nav-logo a {
    color: #FF305B;
    font-size: 24px;
    font-weight: 800;
    line-height: 25px;
    padding: 18px 0;
    float: left;
}
.nav-content {
    float: right;
}
.nav-content a {
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    line-height: 20px;
    letter-spacing: 0.5px;
}
.nav-content li {
    float: left;
    padding: 20px 10px 0;
}
.nav-content a:hover {
    color: #FF305B;
    transition: all 0.5s;
}
/* End of navbar */

/* Start of header */
header {
    min-height: 100vh;
    text-align: center;
    background:  linear-gradient(rgba(0, 0, 0, 0.804) 0% 100%),url('./../images/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-content {
    margin: auto;
    line-height: 80px;
    color: aliceblue;
    padding-top: 200px;
    font-size: 25px;
}
h1 {
    color: #FF305B;
    font-size: 70px;
    line-height: 77px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
}
.header-content h3 {
    color: #FFFFFF;
    font-size: 24px;
    line-height: 26.4px;
    font-weight: 600;
}
.header-content h4 {
    color: #FFFFFF;
    font-size: 26px;
    line-height: 31.2px;
    font-weight: 300;
    text-transform: capitalize;
}
.header-content h4::after {
    content: "";
    animation: textTransition 4s infinite ease-in-out;
    border-right: #FF305B solid;
}
@keyframes textTransition {
    0% {
      content: "De";
    }
    4% {
      content: "Des";
    }
    8% {
      content: "Desi";
    }
    12% {
      content: "Desig";
    }
    16% {
      content: "Design";
    }
    20% {
      content: "Designe";
    }
    24% {
      content: "Designer";
    }
    28% {
      content: "Designe";
    }
    32% {
      content: "Design";
    }
    36% {
      content: "Desig";
    }
    40% {
      content: "Desi";
    }
    44% {
      content: "Des";
    }
    48% {
      content: "De";
    }
    52% {
      content: "Dev";
    }
    56% {
      content: "Deve";
    }
    60% {
      content: "Devel";
    }
    64% {
      content: "Develo";
    }
    68% {
      content: "Develop";
    }
    72% {
      content: "Develope";
    }
    76% {
      content: "Developer";
    }
    80% {
      content: "Develope";
    }
    84% {
      content: "Develop";
    }
    88% {
      content: "Develo";
    }
    92% {
      content: "Devel";
    }
    96% {
      content: "Deve";
    }
    100% {
      content: "Dev";
    }
}
/* End of header */

/* Start of About */
/* Start of About */ 
#About {
  padding: 100px 0px 125px;
}
.about-image {
  float: left;
  padding-left: 100px;
}
.box-empty {
  aspect-ratio: 2/3;
  width: 360px;
  height: 450px;
  border: #555555 solid 10px;
  border-radius: 2%;
  position: relative;
}
.box-image {
  position: absolute;
  top: 20px;
  left: 20px;
}
img.box-image {
  width: 360px;
  border-radius: 2%;
}
.about-content {
  float: right;
  width: 50%;
}
.about-content h2 {
  border-left: #FF305B solid 4px;
  color: #333333;
  font-size: 34px;
  line-height: 22px;
  font-weight: 600;
  padding-left: 13px;
  margin-bottom: 25px;
}
.about-content {
  color: #555555;
}
.about-content p {
  padding-bottom: 25px;
  border-bottom: #555555 dashed 1px;
}
.about-content span {
  color: #333333;
  line-height: 16px;
  font-weight: 600;
}
.about-content li {
  float: left;
  padding: 15px 0 5px 0;
}
.about-buttons {
  margin: 0 10px 0 0;
  padding: 10px 24px 0 0;
}
.about-buttons a {
  display: inline-block;
  background-color: #FF305B;
  color: white;
  border-radius: 5%;
  margin-top: 10px;
  padding: 10px 24px;
}
/* End of About */

/* Start of Services */
#Services {
  color: #555555;
  background-color: #F1F1F1;
  padding: 100px 0px 54px;
  text-align: center;
}
section h2 {
  color: #333333;
  font-size: 40px;
  line-height: 30px;
  font-weight: 800;
  text-transform: capitalize;
  margin-bottom: 40px;
  padding-bottom: 30px;
  position: relative;
}
.single-service {
  color: #555555;
  padding: 40px 15px;
  float: left;
  width: 25%;
}
.single-service i {
  font-size: 36px;
  line-height: 16px;
  color: #FF305B;
  margin-bottom: 25px;
}
.single-service h3 {
  font-size: 24px;
  line-height: 26.4px;
  font-weight: 600;
  margin-bottom: 15px;
}
/* End of Services */

/* Start of Portfolio */
#Portfolio {
  padding: 100px 0px 70px;
  text-align: center;
}
.portfolio-buttons {
  margin-bottom: 50px;
}
.portfolio-buttons button {
  background-color: #fff;
  padding: 3px 12px;
  border: none;
  font-size: 16px;
  line-height: 25px;
  font-weight: 400;
}
.active {
  color: #FF305B;
}
.protfolio-cards {
  padding: 0 15px;
}
.card {
  float: left;
  width: 33.333%;
}
.card img {
  width: 90%;
}
/* End of Portfolio */
